
/*
Hover Underline Menu by Val Ery: 
https://get.foundation/building-blocks/blocks/hover-underline-menu.html
*/

.hover-underline-menu {
    width: 100%;
}
  
.hover-underline-menu .menu {
    background-color: #433F34;
}
  
.hover-underline-menu .menu a {
    color: #fefefe;
    padding: 1.2rem 1.5rem;
}
  
.hover-underline-menu .menu .underline-from-center {
    position: relative;
}
  
.hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid #fefefe;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
}
  
.hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}
  
  /* end Hover Underline Menu */

.button {
    width: 100%;
    background-color:  #102E52;
}

.alert button {
    background-color: #B25215;
}

h1 {
    width: 100%;
    text-align: center;
    color: #540303;
}

section {
    padding-bottom: 5rem;
}