{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<main class="grid-container">
    <article class="grid-x grid-padding-x">
        <section class="large-12 medium-12 small-12 cell">
            <p>Are you sure you want to delete "{{ item }}"?</p>
            <form action="{% url 'delete_artwork' item.pk %}" method="POST">
                {% csrf_token %}
                <a class="alert button" href="{% url 'home' %}">Cancel</a>
                <input type="submit" class="button" name="Confirm">
            </form>
        </section>
    </article>
</main>
{% endblock %}
