{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<main class="grid-container">
    <article class="grid-x grid-padding-x">
        <section class="large-12 medium-12 small-12 cell">
            {% if is_staff %}
                    <h1>New Category</h1>
                    <form action="/category/create" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button id="saveButton" class="button">Save</button>
                    </form>
            {% endif %}
        </section>
    </article>
</main>
{% endblock %}
