{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <main class="grid-container">
        <article class="grid-x grid-padding-x">
            <section class="large-12 medium-12 small-12 cell">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button class="button">Update</button>
                </form>
            </section>
        </article>
    </main>
{% endblock %}
