{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="grid-x grid-padding-x align-center">
        <h1>{{ exhibition.title }}</h1>
        <div class="small-12 medium-10 large-8">
            <h2>
                {{ exhibition.student.first_name }} {{exhibition.student.last_name}} {{ type }}
            </h2>
            <p>{{ exhibition.startDate}} through {{ exhibition.endDate }}</p>
            <a href="{% url 'create_artwork' %}">Add Art</a>
            <img src="{{ exhibition.flyer.url }}" alt="{{ exhibition.title }}" width="100%" />
            {% if mentors %}
                <h3>Mentors</h3>
                <ul>
                {% for mentor in mentors %}
                    <li>{{ mentor }}</li>    
                {% endfor %}
                </ul>
            {% endif %}
            {% if categories %}
                <h3>Categories</h3>
                <ul>
                {% for category in categories %}
                    <li>{{ category }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <p><hr></p>
            {% for w in works %}
                <img src="{{ w.image.url }}" alt="{{ w.title }}" width="100%" />
                {% if user.is_authenticated %}
                    <p><a href="{% url 'update_artwork' w.pk %}">edit</a> <a href="{% url 'delete_artwork' w.pk %}">delete</a></p>
                {% endif %} <!--End of is_authenticated-->
                <p><hr></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <!-- development version of Vue.js, includes helpful console warnings -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <!-- production version of Vue.js, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- jsDelivr CDN for axios js-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}