<!-- Hover Underline Menu by Val Ery: https://get.foundation/building-blocks/blocks/hover-underline-menu.html -->
<header>
    <nav class="hover-underline-menu" data-menu-underline-from-center>
      <ul class="menu align-center">
        <li><a href = "{% url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <li><a href="{% url 'create_exhibition' %}">New Exhibition</a></li>
            {% endif %}
            <li><a href = "{% url 'logout' %}">Logout {{ user.username }}</a></div></li>
        {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'register' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>