{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% if not user.is_authenticated %}
        {% include "landing.html" %}
    {% else %}
        {% if is_staff %}
        {% include "staff.html" %}
        {% else %}
        {% include "student.html" %}
        {% endif %} <!-- End of is instructor-->
    {% endif %} <!--End of is_authenticated-->
{% endblock %}

{% block scripts %}
  <!-- development version of Vue.js, includes helpful console warnings -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <!-- production version of Vue.js, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- jsDelivr CDN for axios js-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}