<div class="grid-x grid-padding-x align-center">
    <div class="small-8 medium-4 large-5">
      <h1>Culminating Exhibitions</h1>
    </div>
    <div class="small-8 medium-4 large-5">
      <div id="exhibitionsPanel">
        <h2>Your Exhibitions</h2>
        <!-- <span v-if="unseen">
          <table>
            <tr v-for="e in exhibitions">
              {% verbatim %}
              <td>{{ e.title }}</td>
              <td>{{ e.student }}</td>
              {% endverbatim %}
            </tr>
          </table>
        </span> -->
          
        <span v-if="seen">
          <table>
            {% for e in exhibitions %}
            <tr>
              <td>{{ e.title }}</td>
              <td>{{ e.student.first_name }} {{ e.student.last_name }}</td>
            </tr>
            <tr>
                <td><img src="{{ e.flyer.url }}" alt="{{ e.title }}" width="100%" /></td>
            </tr>
            {% endfor %}
            </table>
        </span>
        </div>
    </div>
  </div>